@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container, .portfolio-container, .footer-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container, .portfolio-container, .footer-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .portfolio-container, .footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .portfolio-container, .footer-container {
    width: 1200px;
  }
}

.link-item.header, .footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
}

@media screen and (max-width: 767px) {
  .link-item.header, .footer .social-link {
    width: 38px;
    height: 38px;
  }
}

.pin {
  width: 17px;
  height: 17px;
  fill: currentColor;
}

.envelope-icon, .phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .envelope-icon, .phone-icon {
    margin-right: 8px;
  }
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .page-header {
    display: flex;
    align-items: center;
  }
}

.border {
  border: 1px solid #ececec;
}

.container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}

@media screen and (max-width: 767px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-overlya {
    display: none;
  }
  .header-overlya.is-open {
    display: block;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .header-overlya {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-overlya {
    margin-left: 93px;
  }
}

.site-nav {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin: 0;
    margin-top: 65px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item + .item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 20px;
  }
}

.site-nav .list-item {
  display: inline-block;
  position: relative;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-nav .list-item {
    font-size: 16px;
    line-height: 1.14;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.list-item:hover,
.list-item:focus {
  color: #b15e00;
}

.list-item:active {
  color: #b15e00;
}

.item .active {
  color: #b15e00;
}

.active::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #b15e00;
  border-radius: 2px;
}

@media screen and (min-width: 480px) {
  .active::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
  }
}

.mobile-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

.mobile-button .icon-cross {
  display: none;
}

.mobile-button .menu-svg {
  fill: #212121;
}

.mobile-button .menu-svg:hover {
  fill: #b15e00;
  transform: all 200ms linear;
}

.mobile-button.is-open .icon-cross {
  display: block;
}

.mobile-button.is-open .icon-menu {
  display: none;
}

.logo {
  display: flex;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo {
    display: block;
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-beginning {
  color: #b15e00;
}

.communication {
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .communication {
    display: flex;
    justify-content: center;
    margin: 0;
    margin: 50px 0;
  }
}

@media screen and (min-width: 768px) {
  .communication {
    display: flex;
    position: absolute;
    right: 15px;
    top: 21px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .communication {
    position: absolute;
    top: auto;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .communication .communication-item + .communication-item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .communication .communication-item + .communication-item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .communication .communication-item + .communication-item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .communication-item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mail-phone {
  height: 35px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail-phone.mail-phone:hover, .mail-phone.mail-phone:focus {
  color: #b15e00;
}

@media screen and (max-width: 767px) {
  .mail-phone {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .mail-phone {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .mail-phone {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .envelope-icon {
    width: 16px;
    height: 11.2px;
  }
}

@media screen and (min-width: 768px) {
  .envelope-icon {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope-icon {
    width: 16px;
    height: 12px;
  }
}

.phone-icon {
  width: 10px;
  fill: #6d00d3;
}

@media screen and (max-width: 767px) {
  .phone-icon {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-icon {
    height: 33px;
    width: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .phone-icon {
    height: 30px;
    width: 30px;
  }
}

.phone-icon-footer {
  fill: #665cac;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.mail-phone:focus,
.mail-phone:hover .phone-icon-footer {
  fill: #b15e00;
}

.communication-item:focus,
.communication-item:hover .phone-icon {
  fill: #b15e00;
}

.header-links {
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

.link-item.header {
  margin-right: 10px;
  background-color: rgba(67, 0, 155, 0.1);
  color: black;
  fill: black;
}

.header .social-link {
  width: 33px;
  height: 33px;
  border: solid 1px #a3adc5;
}

.page-header.portfolio {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 24px;
    padding-bottom: 109px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-section {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .examples-container {
    display: none;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .examples-container {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-container {
    padding-bottom: 50px;
  }
}

.examples-title {
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: -15px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .examples-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -8px;
  }
}

.examples-list .item {
  margin-left: 8px;
  margin-top: 15px;
}

.examples-list .button {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.examples-list .button:hover,
.examples-list .button:focus {
  padding: 6px 22px;
  color: #ffffff;
  background-color: #b15e00;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .projects-container {
    margin: -15px;
  }
}

.project-item {
  display: block;
  box-shadow: 0px 1px 3px rgba(153, 70, 70, 0.12), 4px 5px 1px rgba(0, 0, 0, 0.14), 1px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
}

@media screen and (max-width: 767px) {
  .project-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .project-item .project-item .item:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  .project-item {
    width: 450px;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .project-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    width: calc((100% - 90px) / 2);
    margin: 15px;
  }
}

.overlya-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.project-overlya {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (max-width: 767px) {
  .project-overlya {
    padding: 7px 15px;
  }
}

@media screen and (min-width: 768px) {
  .project-overlya {
    padding: 50px 24px;
  }
}

.base-overlya {
  transform: translateY(100%);
  opacity: 0;
}

.project:focus .base-overlya,
.project:hover .base-overlya {
  transform: translateY(0);
  opacity: 1;
}

.project-overlya p {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .project-overlya p {
    font-size: 13px;
    line-height: 1.4;
  }
}

.content {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:focus,
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  margin: 0;
  padding: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project-description {
  margin: 0;
  margin-top: 4px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.primer-img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .tablet-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-container {
    width: 700px;
  }
}

@media screen and (max-width: 1199px) {
  .logo-container {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-container {
    height: 120px;
  }
}

.footer-logo {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo {
    height: auto;
  }
}

.contact {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .contacts-list .item {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list .item {
    margin-top: 9px;
  }
}

.contact .mail-phone {
  display: flex;
  align-items: center;
  justify-content: left;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .contact .mail-phone {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

/* Соц сети*/
@media screen and (max-width: 1199px) {
  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .link-container {
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  .link-container {
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    height: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .link-container {
    margin: 21px 0 0 0;
  }
}

.invite {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.border-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .border-links {
    margin: 0 0 0 10px;
  }
}

.border-links .link-item + .link-item {
  margin-left: 10px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-link:focus,
.footer .social-link:hover {
  background-color: #b15e00;
}

/* Подписка */
@media screen and (max-width: 1199px) {
  .form-container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .form-container {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .input-container {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .input-container {
    width: 450px;
  }
}

.footer-input {
  height: 50px;
  padding: 15px 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 16, 34, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 8px;
  background: #b15e00;
  box-shadow: 0px 4px 4px rgba(0, 16, 34, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    align-items: center;
  }
}

.subscribe-button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: #b15e00;
  background-image: url(../images/icon-send.svg);
  background-size: 24px 24px;
}

.times {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=profile.css.map */