.activitys {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    background-color: $primary-bg-color;
    padding-top: 94px;
    // padding-bottom: 94px;
  }
}

.activitys-container {
  @extend %container;
}

.activitys-title {
  @extend %title;
  color: $accent-color;
  @media screen and (max-width: $max-mobile) {
   margin-bottom: 20px;
  }
}

.activity-list {
  
  display: flex;
  padding: 0;
  margin: 0;
}

.activity-list .item + .item {
  margin-left: 30px;
}

.activity-list .item {
  position: relative;
  border: solid 1px;
}

.activity-overlya {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  background-color: $activity-bg-overlya;
}

.activity-overlya h3 {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-text-color;
}
