$primary-text-color: #757575;
$primary-title-color: #212121;
$accent-color: #b15e00;
$primary-bg-color: #ffffff;
$primary-white-text-color: #ffffff;
$alternative-bg-color: #2f303a;
$section-bg-color: #f5f4fa;
$icon-area-bg-color: #f5f4fa;
$border-clients-color: #afb1b8;
$logo-color: #afb1b8;
$hero-bg-color: #c4c4c4;
$activity-bg-overlya: rgba(47, 48, 58, 0.8);
$project-overlya-bg-color: rgba(33, 150, 243, 0.9);
$modal-bg-backdrop: rgba(0, 0, 0, 0.2);
$modal-border-color: rgba(33, 33, 33, 0.2);
$modal-bg-button-color: #188ce8;
$input-footer-placeholder-color: rgba(255, 255, 255, 0.6);
$input-footer-border-color: rgba(255, 255, 255, 0.3);
$input-footer-filter-color: rgba(0, 16, 34, 0.15);
$button-footer-border-color: rgba(0, 16, 34, 0.15);
